@font-face {
    font-family: 'Outfit';
    src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Young Serif';
    src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

:root {
    --White: hsl(0, 0%, 100%);
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);

    --Brown-800: hsl(14, 45%, 36%);

    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
    --light-blue: hsl(228, 45%, 44%);
}

h1 {
    font-size: clamp(2.3rem, 2.8vw, 2.9rem);
    font-weight: 400;
    margin: 0.5em 0;
    color: var(--Stone-600)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1, h2 {
    font-family: 'Young Serif', sans-serif;
}

h2 {
    font-size: 2.1rem;
    font-weight: 400;
    margin-block-end: 0.5em;
    color: var(--Brown-800);
}

p, li, tr {
    font-size: clamp(0.95rem, 2vw, 1rem);
    line-height: 2em;
    font-weight: 500;
    color: var(--Stone-600);
}

p {
    line-height: 1.5em;
    color: var(--Stone-600);
    font-weight: 500;
}

ul li::before {
    content: "\2022";
    color: var(--Rose-800);
    margin-inline-end: 2rem;
    font-size: 1em;
    display: inline-block;
    width: 1.5rem;
}

ul, ol {
    list-style: none;
}

ol {
    counter-reset: item;
    position: relative;
    padding-left: 3rem;
}


ol li::before {
    counter-increment: item;
    content: counter(item) ".";
    margin-right: 1.5rem;
    position: absolute;
    width: 1.5rem;
    left: 0;
    color: var(--Rose-800);
    font-weight: bold;
}

hr {
    border: none;
    height: 0.1em;
    background-color: var(--Stone-150);
}

.omelette {
    max-width: 100%;
}

.container {
    width: 100%;
    background-color: var(--Stone-100);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    max-width: min(100vw, 45em);
    background-color: var(--White);
}

.content {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1.25em;
}

.preparation {
    padding: 1.25em;
    background-color: var(--Rose-50);
    border-radius: 0.625em;
}

.preparation h2 {
    margin-block-end: 0.7em;
    color: var(--Rose-800);
    font-family: 'Outfit', sans-serif;
    font-size: clamp(1.4rem, 2vw, 1.5rem);
    font-weight: 600;
}

body {
    background-color: var(--Stone-100);
    font-family: 'Outfit', sans-serif;
    margin: 0 auto;
}

table {
    width: 100%;
    padding: 1.25em;
    margin-block-start: 1em;
    border-collapse: collapse;
}

table td {
    border-bottom: 1px solid var(--Stone-150);
    padding-block-start: 0.9em;
    padding-block-end: 0.9em;
    padding-inline-start: 2.2em;

}

table tr {
    padding: 1.25em;
}

.Calories {
    color: var(--Rose-800)
}


@media (min-width: 45em) {
    .container {
        padding-block-start: 7.5rem;
        padding-block-end: 7.5rem;
    }

    .card {
        padding: 2.2em;
        border-radius: 1.25em;
    }

    .omelette {
        border-radius: 0.625em;
    }

    .content {
        padding: 0em;
    }
}

.attribution { 
    text-align: center;
    padding: 1.25em;
    font-size: 0.9rem;
}
.attribution a { 
    color: var(--light-blue);
}

