* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);

    --Brown-800: hsl(14, 45%, 36%);

    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
    --light-blue: hsl(228, 45%, 44%);
}

h1 {
    font-size: clamp(2.3rem, 2.8vw, 2.9rem);
    font-weight: 400;
    margin: 0.5em 0;
    color: var(--Stone-600)
}

h1, h2 {
    font-family: 'headingfont', sans-serif;
}

h2 {
    font-size: 2.1rem;
    font-weight: 400;
    margin-bottom: 0.5em;
    color: var(--Brown-800);
}

p, li, tr {
    font-size: clamp(0.95rem, 2vw, 1rem);
    line-height: 1.5em;
    font-weight: 500;
    color: var(--Stone-600);
}

p {
    line-height: 1.5em;
    color: var(--Stone-600);
    font-weight: 500;
}

ul, ol {
    margin-left: 1em;
}

ul li, ol li {
    margin-bottom: 0.5em;
    padding-left: 1em;
}

hr {
    border: none;
    height: 0.1em;
    background-color: var(--Stone-150);
}

.omelette {
    max-width: 100%;
}

@font-face {
    font-family: 'bodyfont';
    src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'headingfont';
    src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Stone-100);
}

.card {
    max-width: 45em;
    background-color: var(--White);
}

.content {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1.25em;
}

.preparation {
    padding: 1.25em;
    background-color: var(--Rose-50);
    border-radius: 0.625em;
}

.preparation h2 {
    margin-bottom: 0.7em;
    color: var(--Rose-800);
    font-family: 'bodyfont', sans-serif;
    font-size: clamp(1.4rem, 2vw, 1.5rem);
    font-weight: 600;
}

body {
    background-color: var(--Stone-100);
    font-family: 'bodyfont', sans-serif;
    margin: 0 auto;
}

table {
    width: 100%;
    padding: 1.25em;
    margin-top: 1em;
    border-collapse: collapse;
}

table td {
    border-bottom: 1px solid var(--Stone-150);
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    padding-left: 2.2em;

}

table tr {
    padding: 1.25em;
}

.Calories {
    color: var(--Rose-800)
}


@media (min-width: 45em) {
    .container {
        padding: 7.5em; 
    }

    .card {
        padding: 2.2em;
        border-radius: 1.25em;
    }

    .omelette {
        border-radius: 0.625em;
    }

    .content {
        padding: 0em;
    }
}

.attribution { 
    text-align: center;
    padding: 1.25em;
    font-size: 0.9rem;
}
.attribution a { 
    color: var(--light-blue);
}

